 *{
  margin: 0;
 }
 
 body{
  background-color: black;
  
  font-family: "bebas-nue", Arial, Helvetica, sans-serif;
 }
 
 
 .cover {
    background-image: url("/images/bodybackground.jpg");
    /* background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent); */
    background-repeat: no-repeat;
    
    /* background-position: center center; */
    background-size: cover;
    height: 500px;
    position: relative;
  } 
/* img{
  height: 100%;
  width: 100%;
} */
.navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  background-color: rgba(3,3,3,0.7);
  position: fixed; 
  top: 0; 
  width: 100%;
  z-index: 1;
}
  ul {
    list-style-type: none;
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
  }
  ul i {
    color: white;
  }
  li{
    color: white;
    display: inline;
    margin-left: 1.3em;
    font-size: small;
  }
  #netflix{
    font-weight: bolder;
    color: red;
    margin-right: 2em;
    font-size: large;
  }
  #home{
    font-weight: 900;

  }
  #avatar{
    border-radius: 5px;
    width: 20px;
    height: 20px;
  }
  .netlogo{
    width: 80px;
    object-fit: contain;
  }
  .searchicon{
    width: 20px;
    height: 20px;
  }
  .bagroundimg{
    width: 100%;
    position: absolute;
    left:0;
    top:0;
    background-size: cover;
    z-index: 0;
  }
  .righticons{
    display: flex;
    flex-direction: row-reverse;
    top: 55%;
  }
  .whites{
    height: 10px;
    width: 5px;
    color: white;
  }
  .greys{
    
      height: 10px;
      width: 25px;
      color:rgba(3,3,3,0.2);
    }
  
  .coverbutton1{
  background-color: lightgray; 
  border: none; 
  color: black; 
  padding: 10px 30px; 
  border-radius: 5px;
  font-size: 15px; 
  cursor: pointer;
  }
  .coverbutton1 i{
    margin-right: 10px;
  }
  .coverbutton2 i{
    margin-right: 10px;
  }

  .coverbutton2{
    background-color: rgba(204, 201, 201, 0.3); 
  border: none; 
  color: white; 
  padding: 10px 30px; 
  border-radius: 5px;
  font-size: 15px; 
  cursor: pointer;
  }
  .coverbuttons{
    margin-left: 3%;
    position: relative;
    top: 55%;
    color:white;
  }
  .coverbuttons p{
    width: 40%;
  }
  .coverdeck{
    margin-left: 40%;
    position: relative;
    top: 55%;
    color: white;
  }
  .rowfilms{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-bottom: 30px;

  }

  .rowimgfilms{
  width: 100%;
  object-fit: contain;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;

  }
  .rowimgfilms:hover {
    transform: scale(1.09002);
  }
  .rowfilms::-webkit-scrollbar {
    display: none;
  }
  .rowelements{
    color: white;
    margin-left: 3%;

  }
  .circles{
    display: inline;
    background-color: rgba(43, 40, 40, 0.85);
    border-radius: 50%;
    border: 1px solid grey;
    padding: 10px;
    color:white;
  }
  .playvol{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .boxes{
    display: inline-block;
    background-color: rgba(43, 40, 40, 0.85); 
    /* border: 1px solid grey; */
    background-color: rgba(104, 103, 103, 0.4);
    padding:10px 5px;
    padding-right: 35px;
    color:white;
  }
  .rightmar{
    display: inline;
    margin-left:10px ;
    
  }
  .whites{
    display: inline;
    border: 1px solid white;
    padding:10px 0px;
    height:40px;
    width: 7px;
    background-color: white;
  }