body{
    background-color: rgba(0,0,0, 0.9);
}
.coverdetail {
  background-image: url("/images/breakingbad.jpg");
  /* background-image: linear-gradient(180deg,rgba(0,0,0,0.) 10%,transparent); */
  background-repeat: no-repeat;
  border-radius: 5px;
  margin-top: 6%;
  /* background-position: center center; */
  background-size: cover;
  height: 340px;
  position: relative;
} 
.bigposter{
    width: 56%;
    margin: 0px 22%;
    background-color: rgba(43, 40, 40, 0.95);
    /* background-color: aliceblue; */
}
.toppart{
    /* background-image: url("/images/breakingbad.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px; */
    /* position: relative; */
}
#topi{
    color: white;
    position: relative;
    top: 10px;
    left: 97%;
    z-index: 1;
}

#topi:hover, #top:focus{
  color: black;
  position: relative;
  top: 15px;
  left: 97%;
  z-index: 1;
}

.toppart button i{
    color: black;
    position: relative;
    top: 10px;
    left: 97%;
}
.toppartpara{
    /* display: inline-block; */
    position: relative;
    top: 65%;
    left: 50%;
    width: 40%;
    color: white;
    /* z-index: 1; */
    /* margin-top: 25% ; */
    /* margin-left: 55%;  */
}

.coverbuttonsdetail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    top: 62%;
    color:white;
    /* padding-bottom: 5%; */
    /* background-color: black; */
  }
  .coverbuttons p{
    width: 40%;
  }

.coverbutton1{
    background-color: lightgray; 
    border: none; 
    color: black; 
    padding: 10px 30px; 
    border-radius: 5px;
    font-size: 15px; 
    cursor: pointer;
    }
    .coverbutton1 i{
      margin-right: 10px;
    }
    .episoidh1{
        color: white;
    }
    .coverbutton2{
        background-color: rgba(43, 40, 40, 0.85); 
        border:1px solid grey ; 
        color: white; 
        padding: 5px 20px; 
        border-radius: 5px;
        font-size: 15px; 
        cursor: pointer;
        }
.coverbutton2 i{
    margin-left: 10px;
}
.seasonepi{
margin: 0 5%;
 padding: 1% 0;
 display: flex;
flex-direction: row;
justify-content: space-between;
border-bottom: 1px solid rgb(71, 70, 70);
}
.episoidlist{
padding: 3% 5%;
display: flex;
flex-direction: row;
/* justify-content: space-between; */
gap: 10px;

}
.episoids{
    margin:0% 5%;
    border-bottom: 1px solid rgb(71, 70, 70);
}

.episoids:hover{
    background-color:rgba(88, 87, 87, 0.8) ;
    margin:0% 5%;
    border-bottom: 1px solid rgb(71, 70, 70);
}
.lowerpara{
  
  font-size: smaller;
  color:azure;
}

.lowerparas{
    display: inline;
    font-size: smaller;
    color:azure;
}
.rowobj{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.episoidlistimg{
    height: 80px;
    width: 110px;
}
.epiparas{
    color: white;
}
.episoidlist h3{
    color: white;
    font-weight: lighter;
}
.boldp{
    font-weight: bolder;
}
.centertext{
    color: white;
    margin: 0 5%;
    margin-top: 5%;
    /* padding-bottom: 3%; */
}
div h4 i{
    margin-right: 10px;
}

.card {
    width: 195px;
    height: 310px;
    background-color: rgba(66, 65, 65, 0.8) ;
    transition: 0.3s;
    border-radius: 5px; 
    margin: 2%;
    margin-top: 1%;
  }
  .cardimgrec {
    border-radius: 5px 5px 0 0;
    width:100%
  }
  
  .cardimg {
    border-radius: 5px 5px 0 0;
    width:100%
  }
  .carddetails{
    padding: 1em 8%;
  }
  h5{
    margin:0px;
  }
  #greens{
    color: rgb(6, 197, 6);
  }
  #whites{
    color: white;
    padding-bottom: 10px;
  }
  .cardcontainer{
    padding:0 5%;
    display: flex;
    flex-direction: row;
    /* gap: 3%; */
    flex-wrap: wrap;
  }
  .imgtops{
    color: white;

  }
  .carddetails i{
    color: white;
    
  }
  .carddetails1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  /* .coverbuttons i{
    height: 40px;
    width: 40px;
  } */
.circles{
  text-align: center;
  /* width: 10px;
  height: 10px; */
  display: inline;
  background-color: rgba(43, 40, 40, 0.85);
  border-radius: 50%;
  border: 1px solid grey;
  padding: 10px;
  color:white;
}
.bighorizontal{
  margin:3% 5%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  gap: 3%;
  color: white;
}
.lefthori{
  flex: 2;
}
.righthori{
  flex: 1;
}
.blured{
  color: rgb(143, 142, 142);
}
.boxes{
  display: inline;
  background-color: rgba(43, 40, 40, 0.85);

  border: 1px solid grey;
  padding:0 5px;
  color:white;
}
.lowerpar{
  margin-top: 8%;
  font-weight: lighter;
  font-size: smaller;
}
.hd{
  font-weight: lighter;
  font-size: smaller;
  font-weight: lighter;
}