body{
    background-color: rgba(0,0,0, 0.9);
}
.bigposter{
    width: 60%;
    margin: 0px 20%;
    /* background-color: aliceblue; */
}
.toppart{
    background-image: url("/images/bodybackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    /* position: relative; */
}
.toppart i{
    color: white;
    position: relative;
    top: 10px;
    left: 97%;
}
.toppart button i{
    color: black;
    position: relative;
    top: 10px;
    left: 97%;
}
.toppartpara{
    /* display: inline-block; */
    width: 40%;
    color: white;
    margin-top: 25% ;
    margin-left: 55%; 
}
.coverbutton1{
    background-color: lightgray; 
    border: none; 
    color: black; 
    padding: 10px 30px; 
    border-radius: 5px;
    font-size: 15px; 
    cursor: pointer;
    }
    .coverbutton1 i{
      margin-right: 10px;
    }
    .episoidh1{
        color: white;
    }
    .coverbutton2{
        background-color:  rgba(0,0,0, 0.7); 
        border-color:white ; 
        color: white; 
        padding: 5px 20px; 
        border-radius: 5px;
        font-size: 15px; 
        cursor: pointer;
        }
.coverbutton2 i{
    margin-left: 10px;
}
.seasonepi{
 margin: 0 5%;
 display: flex;
flex-direction: row;
justify-content: space-between;

border-bottom: 1px solid rgb(151, 150, 150);
}
.episoidlist{
margin: 5%;
display: flex;
flex-direction: row;
justify-content: space-around;
border-bottom: 1px solid rgb(151, 150, 150);
}
.episoidlist p{
    font-size: small;
    color:azure;
}
.rowobj{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.episoidlistimg{
    height: 70px;
    width: 100px;
}
.epiparas{
    color: white;
}
.episoidlist h2{
    color: white;
}
.boldp{
    font-weight: bolder;
}